.footer
  display: flex
  -webkit-box-pack: center
  justify-content: center
  -webkit-box-align: center
  align-items: center
  flex-flow: column
  position: relative
  background: rgb(32, 35, 41)
  color: rgb(158, 158, 158)
  padding: 4.5rem 0px
  min-height: calc(120px)
  width: 100%
  position: absolute
  bottom: 0
