<div class="home-container">
  <h1>Bienvenido a la Aplicación de Rick and Morty</h1>
  <p>
    ¡Explora el mundo de Rick and Morty con nuestra aplicación! Aquí puedes
    acceder a información sobre personajes, lugares y episodios de la serie.
    Simplemente elige una de las siguientes opciones para comenzar:
  </p>
  <div class="options-container">
    <div class="option-card">
      <h2>Personajes</h2>
      <p>Descubre información detallada sobre los personajes de la serie.</p>
      <a routerLink="/characters">Explorar Personajes</a>
    </div>
    <div class="option-card">
      <h2>Lugares</h2>
      <p>Explora los diversos lugares que aparecen en la serie.</p>
      <a routerLink="/locations">Explorar Lugares</a>
    </div>
    <div class="option-card">
      <h2>Episodios</h2>
      <p>Accede a la lista completa de episodios y su información.</p>
      <a routerLink="/episodes">Explorar Episodios</a>
    </div>
  </div>
</div>
