<div class="home-container">
  <h1>{{ title }}</h1>
  <p>
    {{ description }}
  </p>
  <div class="options-container">
    <div class="option-card">
      <h2>{{ characterTitle }}</h2>
      <p>{{ characterDesc }}</p>
      <a routerLink="/characters">{{ characterLink }}</a>
    </div>
    <div class="option-card">
      <h2>{{ locationTitle }}</h2>
      <p>{{ locationDesc }}</p>
      <a routerLink="/locations">{{ locationLink }}</a>
    </div>
    <div class="option-card">
      <h2>{{ episodeTitle }}</h2>
      <p>{{ episodeDesc }}</p>
      <a routerLink="/episodes">{{ episodeLink }}</a>
    </div>
  </div>
</div>
