<div class="characters-container">

  <input type="text" class="search-input" placeholder="Buscar Personaje" (input)="filterCharacters($event)">
  <div class="character-list">
    <div *ngFor="let character of characters" class="character" (click)="navigateToDetail(character.id)">
      <img [src]="character.image" alt="{{ character.name }}" class="character-image">
      <div class="character-details">
        <h3>{{ character.name }}</h3>
        <p>Status: <span class="status" [ngClass]="character.status.toLowerCase()">{{ character.status }}</span></p>
      </div>
    </div>
  </div>
</div>
